body {
    font-family: 'Lato', sans-serif;
    color: #4d4d4d;
    font-weight: 300;
    font-size: 18px;
}

.header {
    background-image: url('../assets/background-1440.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60%;
    color: white;
}

.header h1 {
    font-size: 60px;
    font-weight: 900;
}

.header p {
    font-size: 24px;
}

.activeMetric {
    border-bottom: 2px solid;
    font-weight: 900;
}

#hamburgerIcon {
    display: none;
    width: 45px;
}

#nav-sidebar-closed {
    position: fixed;
    height: 100%;
    left: -350px;
    transition: all 0.8s ease-in-out;
}

#nav-sidebar-closed ul {
    visibility: hidden;
}

#nav-sidebar-open {
    position: fixed;
    display: block;
    width: 350px;
    height: 100%;
    background-color: white;
    left: 0;
    z-index: 100;
    text-decoration: none;
    transition: all 0.6s ease-in-out;
}

#languages li {
    text-decoration: none;
}

::-webkit-scrollbar-track {
    background-color: white;
    margin: 40px 0;
}

::-webkit-scrollbar {
    width: 2px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    margin: 40px 10px;
}

::-webkit-scrollbar-corner {
    color: transparent;
}

#arrowup {
    float: right;
}

#languagesListItem {
    position: absolute;
    top: 0;
    height: auto;
    max-height: 270px;
    overflow: auto;
    text-align: left;
    background: white;
    border-right: 25px solid white;
}

#languagesListItem a:hover {
    color: #0e8ea6;
}

#metricListenerMobile li a:hover {
    background-color: #0e8ea6;
    color: white;
}

#searchBtn {
    background: #0e8ea6;
    color: white;
    font-weight: 900;
}

#searchWeather {
    height: 50px;
    border: 6px solid rgba(255, 255, 255, 0.5)
}

#w-location {
    font-size: 24px;
}

#w-temp {
    color: #0e8ea6;
    font-size: 42px;
    font-weight: 900;
}

#w-icon {
    width: 100px;
    height: 100px;
}

#w-details {
    padding-left: 0px;
    text-align: left;
}

#w-details li {
    border: none;
    padding: 0;
    text-align: center;
    font-size: 14px;
}

#weatherInfo {
    font-size: 24px;
}

#w-desc {
    color: #0e8ea6;
    font-size: 14px;
    font-weight: 900;
}

.infoStyle li {
    border: none;
    padding: 0;
    text-align: left;
    font-size: 14px;
}

.metricStyle {
    color: #0e8ea6;
    font-size: 14px;
    font-weight: 900;
}

#currentTempMinMax h3 {
    font-weight: 900;
    font-size: 3.5rem;
    color: #0e8ea6;
}

#currentDescInfo h6 {
    font-size: 24px;
    font-weight: 900;
}

#currentDescInfo {
    font-size: 16px;
}

#currentCityForecast {
    border-left: 1px solid #888;
}

#dayOneMin {
    color: #0e8ea6;
}

#dayOneMax {
    color: #0e8ea6;
    font-weight: 900;
}

@media (max-width: 991.98px) {
    #hamburgerIcon {
        display: block;
        z-index: 100;
    }

    #searchBtn {
        margin: 10px auto;
        width: 50%
    }

    #searchWeather {
        width: 100%;
    }

    #dayOneImgDiv img {
        padding-right: 0px;
    }
}

@media (max-width: 575.98px) {
    #currentCityWeatherImg img {
        display: none;
    }

    #currentTempMinMax h3 {
        font-size: 2.5rem;
    }

    #currentCityWeatherInfo {
        width: 60%;
    }

    #currentCityForecast {
        width: 20%
    }
}